**/MyProject/.vs
**/MyProject/UnitTestProject1/obj/Debug/
**/MyProject/MyProject/obj/
**/MyProject/UnitTestProject1/obj/
**/MyProject/MyProject/bin/
**/MyProject/UnitTestProject1/bin/Debug/
**/MyProject/UnitTestProject1/bin/Debug/*
**/MyProject/packages/*
**/MyProject/MyProject/packages.config